<div style="display: flex" >
  <div ng-repeat="trip in trips">
    <md-card ng-click="gotoTrip(trip._id)" style="
    width: 450px;
    height : 415px
  ">
          <img style="height: 215px;" ng-src="{{trip.image}}" class="md-card-image" alt="Washed Out">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{trip.name}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              {{trip.description}}
            </p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon ng_bind="'favorite'"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon ng_bind="'menu'"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon ng_bind="'share'"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
  </div>
</div>
