<div id="root">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<nav id="siteNav">
		<div id="logo"><canvas id="myCanvas" width="75" height="40"></div>
		<div class="navItem"><a href="#!">Main</a></div>
		<div class="navItem"><a href="#!alltrips">All Trips</a></div>
		<div class="navItem"><a href="#!mytrips">My Trips</a></div>
		<div class="navItem"><a href="#!mytripsonmap">My Trips On Map</a></div>
		<div class="navItem"><a href="#!statistics">Statistics</a></div>
	</nav>

	<main id="siteBottom">
		<section id="siteBody">
			<section id="content">
				<div ng-view style="width:100%;height:100%;"></div>
			</section>
			<footer>
				<div>
					All rights reserved to Trips 2019
				</div>
				<div>
					The Best site for discover and share new trips
				</div>
				<div style="float: right; padding-right: 15px;">
					<button ng-if="auth.globals.currentUser && auth.globals.currentUser.username" ng-click="logout()" class="btn btn-danger">Logout</button>
				</div>
			</footer>
		</section>
	</main>
</div>
