<div id="root">
	<nav id="siteNav">
		<div id="logo"><canvas id="myCanvas" width="75" height="40"></div>
		<div class="navItem"><a href="#!">Main</a></div>
		<div class="navItem"><a href="#!games">All Trips</a></div>
		<div class="navItem"><a href="#!events">My Trips</a></div>
		<div class="navItem"><a href="#!statistics">Statistics</a></div>
	</nav>

	<main id="siteBottom">
		<section id="siteBody">
			<section id="content">
				<div ng-view style="width:100%;height:100%;"></div>
			</section>
			<footer>
				All rights reserved to Trips 2019
			</footer>
		</section>
	</main>
</div>
